apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: abc-devsecops-eks
  region: ap-south-1
  version: "1.32"
  tags:
    owner: abchatterjee7
    environment: training
    project: abc-devsecops-demo
    purpose: my-practice-labs

availabilityZones:
  - ap-south-1a
  - ap-south-1b

iam:
  withOIDC: true

managedNodeGroups:
  - name: abc-ng-public
    instanceType: t3.small
    minSize: 2
    maxSize: 2
    desiredCapacity: 2
    volumeSize: 20
    privateNetworking: false

    ssh:
      allow: true
      publicKeyName: abc-sj-mumbai   # your EC2 key pair name

    iam:
      withAddonPolicies:
        autoScaler: true
        ebs: true
        albIngress: true
        externalDNS: true
        certManager: false
        cloudWatch: false
    labels:
      owner: abchatterjee7
      app: devsecops-demo
    tags:
      node-type: public-worker
      managed-by: eksctl
